[Unit]
Description = SmartDisplay
After = network.target

[Service]
PermissionsStartOnly = true
User = pi
WorkingDirectory = /home/pi/smartdisplay/
ExecStart = /usr/bin/env python3 index.py
ExecReload = /bin/kill -s HUP $MAINPID

[Install]
WantedBy = multi-user.target