[Unit]
Description = SmartDisplay
After = network.target

[Service]
PermissionsStartOnly = true
User = root
WorkingDirectory = /home/mrobinson/officelightthing
ExecStart = /home/mrobinson/officelightthing/venv/bin/python index.py
ExecReload = /bin/kill -s HUP $MAINPID

[Install]
WantedBy = multi-user.target
