/*
    Set the background colour of the page to a dark grey and the text to white.
    Create a margin for the page.
*/
body {
    background-color: rgb(33, 37, 41);
    color: white;
    size: ;
    margin: 5%;
    /*overflow: hidden;*/
}

.spacer {
    margin-top: 2vh;
}

/*
    Remove the highlight on the buttons when tapped.
    This makes it less "web page-y" by removing the browser's outline of the link button.
    Source: https://stackoverflow.com/a/23337989
*/
.btn:focus,.btn:active  {
    outline: none !important;
    box-shadow: none;

}
